**Control flow and Loops**

In [1]:
#Create a program that takes a year as input and checks if it is a leap year or not
year=int(input("enter a year:"))
if (year%2==0):
  print("Leap year")
else:
  print({"it is not a leap year"})

enter a year:1980
Leap year

In [2]:
# Create a loop that prints the first 10 even numbers.
for i in range (1,11):
  if i%2==0:
    print(i)
print("Done!")

2
4
6
8
10
Done!

In [3]:
#  Implement a program that finds the largest number in a list
lst=[5,6,8,43,65,51.10]
print(max(lst))

65

In [7]:
#Given a list of integers, find all the even numbers and store them in a new list
lst=[5,6,7,8,9,2,34]
new_lst=[]
for i in lst:
  if i%2==0:
    new_lst=i
    print(new_lst)

6
8
2
34

In [10]:
#Write a Python program to check if a given number is a prime number
num = 15
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print('Not Prime')
else:
  print("Prime")

Not Prime

In [12]:
# Create a program that generates the Fibonacci sequence up to a given number of  terms
num=10
a,b=0,1
print("Fibonacci Series:", a, b, end=" ")
for i in range(2, num):
    c = a+b
    a = b
    b = c
    print(c, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [14]:
# Given a list of names, print all names starting with the letter 'A'
lst=['Apple','Authenticity','City','Down']
for i in lst:
  if i[0]=='A':
    print(i,end=" ")

Apple Authenticity

In [15]:
# Write a program that calculates the factorial of a given number
num=5
fact=1
for i in range(1,num+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

## **Function**

In [18]:
#  Write a function to calculate the area of a circle given its radius
def area_of_circle(r):
  area=3.14*r*r
  print(area)

area_of_circle(5)

78.5

In [25]:
#Create a function to check if a number is prime.
def check_prime(num):
  flag=0
  for i in range(2,num):
    if num%i==0:
      flag=1
      break
  if flag==1:
      print("not prime")
  else:
      print("prime")
check_prime(11)

prime

In [26]:
# Implement a function that reverses a given string
def reverse_string(str):
  print(str[::-1])

reverse_string("HELLO")

OLLEH

In [39]:
#Given a list of numbers, create a function to find the sum of all positive numbers
def sum_of_positive(lst):
  sum=0
  for i in lst:
    if i>0:
      sum=sum+i  # Add the number to sum
  print(sum)

sum_of_positive([1,2,3,5,-1,-6,-9])

11

In [41]:
#Write a Python function to check if a given string is a palindrome
string="madam"
if string==str[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

In [44]:
#Implement a function that returns the factorial of a given number using recursion
def factorial(num):
  if num==0:
    return 1
  else:
    return num*factorial(num-1)
factorial(5)

120

In [46]:
#Create a function to find the square of each element in a given list
def square(lst):
  i=0
  for i in lst:
    print(i*i)
    i=i+1
square([1,2,3,4,5])

1
4
9
16
25

In [47]:
# Write a function to check if a number is even or odd and return "Even" or "Odd" accordingly
def even_odd(num):
  if num%2==0:
    print("even")
  else:
    print("odd")
even_odd(5)

odd

In [48]:
#Calculate the area of a triangle given its base and height using a function
def area_of_triangle(base,height):
  area=1/2*base*height
  print(area)

area_of_triangle(5,6)

15.0

In [50]:
#Create a function that takes a list of strings and returns the list sorted alphabetically
def sor_string(str):
  str.sort()
  print(str)
sor_string(['apple','cherry','banana'])

['apple', 'banana', 'cherry']

In [51]:
#Create a function that takes a list of strings and returns the list sorted alphabetically
def sor_string(str):
  str.sort()
  print(str)
sor_string(['a','b','g','d','y','j'])

['a', 'b', 'd', 'g', 'j', 'y']

In [52]:
# Write a function that takes two lists and returns their intersection (common elements)
def two_lst(lst1, lst2):
  result = list(set(lst1).intersection(lst2))
  return result

# Example usage:
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]
print(two_lst(lst1, lst2))

[3, 4]